body, html {
  height: 100%;
}

body {
  overscroll-behavior-y: contain; // prevents pull refresh breaks soft routes

  display: block;

  * {
    box-sizing: border-box;
  }

  #root {
    display: block;
    overflow: hidden auto;
    min-height: 100%;
  }
}