@mixin flex-ver-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-hor-row-ali-str {
    display: flex;
    align-items: stretch;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}